.container{
    background-color:  rgb(250, 246, 246);
    padding-top: 100px;

}
.boldtext{
    padding-left: 30px;
}
.filter{
    padding-left: 30px;
}
.btn{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
